<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']"><img src="./../../../assets/Google_Chrome_logo2.png" width="100px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-info my-2 my-sm-0" [routerLink]="['/login']">Login</button>
            <button class="btn btn-primary my-2 my-sm-0 mx-3" [routerLink]="['/register']">Register</button>
            <button class="btn btn-danger my-2 my-sm-0" [routerLink]="['/log out']">Log out</button>

        </form>
    </div>
  </nav>